<button class="btn btn-primary addbtn" (click)="openModalAdd(autoVacio)">Agregar Auto <i class="fa fa-car"></i></button>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Marca</th>
    <th scope="col">Submarca</th>
    <th scope="col">Descripción</th>
    <th scope="col">Modelos</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngIf="displayBar">
      <th colspan="7">
        <p><ngb-progressbar type="success" [value]="100" [striped]=true [animated]=true></ngb-progressbar></p>
      </th>
    </tr>
    
    <tr *ngFor="let auto of autos | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
      <td>{{auto?._id}}</td>
      <td>{{ auto?.marca }}</td>
      <td>{{ auto?.submarca}}</td>
      <td>{{ auto?.descripcion}}</td>
      <td>{{ auto?.modelos | modelosPipe}}</td>
      <td class="actions" (click)="openModalDelete(auto)"><i class="fa fa-trash fa-2x"></i></td>
      <td class="actions" (click)="openModalEdit(auto)"><i class="fa fa-edit fa-2x"></i></td>
    </tr>
  </tbody>
</table>

<div style="margin-left: 20px;">
  <ngb-pagination aria-label="Default pagination"
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="autos.length">
  </ngb-pagination>
</div>