@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

.mx-auto{
    width: 90%;
}

a{
    margin-left: 20px;
}

h3{
    margin-right: 20px;
    font-family: 'Montserrat', sans-serif;
}

a{
    cursor: pointer;
}

.card{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image:
    linear-gradient(
      to top right, 
      #2a6d9d, #0372cc
    );
    margin: 2px;
    border-radius: 10px;
}

.card-body{
    display: flex;
    justify-content: space-between;
    padding: 2px;
    max-height: 46px;
}