<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<div class="modal-dialog modal-confirm">
    <div class="modal-content">
        <div class="modal-header">
            <div class="icon-box">
                <i class="material-icons">&#xE5CD;</i>
            </div>
            <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <h4 class="modal-title">Estas seguro?</h4>
        <div class="modal-body">
            <p>Realmente deseas eliminar esta información? Este proceso no puede ser desecho.</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info" (click)="activeModal.dismiss('Cancel click')">Cancelar</button>
            <button type="button" class="btn btn-danger" (click)="activeModal.close(auto)">Eliminar</button>
        </div>
    </div>
</div>