@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.log{
    background-color: rgb(20, 20, 20);
    color: rgba(255, 255, 255, 0.850);
    width: 80%;
    margin: 5px auto 0 auto;
    height: 75vh;
    overflow: scroll;
    font-family: 'Roboto Condensed', sans-serif;
}

p{
    margin: 3px;
}